body  { font-family: Trebuchet MS, Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
		background: white;
		margin: 0; padding: 0 10px 0 10px;  }

div.h     { background: #111; margin: 0 -10px 0 -10px; }
div.h img { float: left; padding: 10px 10px 0px 10px }
div.t     { font-size: large; color: white; text-align:left; padding: 10px }
div.t1    { font-size: x-large; }
div.main { clear: both }

div.nav { padding: 2px; text-align: center; 
		  margin: 0 -10px 0 -10px; background: #bbb; 
		  border-top: 1px solid black; 
		  border-bottom: 1px solid black; } 
div.nav a { text-decoration: none; }

a { color: #1c1585 }

h2    { font-size: large; font-weight: bold; margin-top: 30px }
h3    { font-size: medium; font-weight: bold }
h4    { font-size: medium; font-weight: normal; font-style: italic }

div.gems { margin: 30px 0 }
div.gems div { margin: 0.5em 0 }

p     { text-align: justify }
ul    { padding-left: 20px; list-style-type: circle }
ul ul { list-style-type: none }
a     { text-decoration: none;  padding-left: 0.5em }

pre   { margin: 15px; background: #EEE; padding: 10px; 
		border-style: dashed; border-color: black; border-width: 1px }
		
div.copyright { margin: 5em -10px 0 -10px; padding: 5px; background: #DDF; 
				text-align: center; border-style: solid; border-color: black; 
				border-width: 1px 0 1px 0; } 
